<header style="height: 15%;">
    <div class="abas">
        <br/>
        <div class="logo">
            <h1 class="DentroLogo">
                RQ
            </h1>

        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="fases"> Fases </button>
            <button class="conta"> Minha conta </button>
        </div>
        <br/>
    </div>
</header>
<main class="meio">
    <div class="linha"></div>
    <div class="img-centro">
        <div>
            <div class="nome-site">
                Ridle Quest
            </div>
            <div class="frase">
                A diversão que destroi a sua sanidade
            </div>
        </div>


    </div>
</main>