* {
    margin: 0px;
    padding: 0px;
}

.logo {
    border: #26bd46 1px solid;
    border-radius: 3600px;
    width: 85px;
    height: 85px;
    margin-top: 0px;
    margin-left: 70px;
    animation: NeonCampos 3s alternate infinite ease-in-out;
    background-color: rgba(0, 0, 0, 0.007);
}

.DentroLogo {
    font-size: 45px;
    margin-left: 10px;
    margin-top: 10px;
    color: #26bd46;
    animation: NeonCampos 3s alternate infinite ease-in-out;
    background-color: rgba(0, 0, 0, 0.007);
}

.abas {
    background-color: black;
    height: 145px;
}

@keyframes NeonCampos {
    from {
        filter: drop-shadow(0 0 0 #11ca39);
    }
    to {
        filter: drop-shadow(0 0 30px #26bd46);
    }
}

.d-grid {
    animation: NeonCampos 3s alternate infinite ease-in-out;
}

.fases {
    width: 100px;
    background-color: black;
    border: solid 1px #26bd46;
    color: #26bd46;
}

.conta {
    width: 100px;
    background-color: black;
    border: solid 1px #26bd46;
    color: #26bd46;
    margin-right: 100px;
}

.meio {
    background-color: white;
    height: 1250px;
}

.img-centro {
    height: 50%;
    background-image: url('https://userscontent2.emaze.com/images/61644977-0a3d-490f-9bb2-0750827f5881/8250b266b44bb383a50fd58f45dbfe64.gif');
    background-repeat: no-repeat;
    background-size: 200%;
    display: flex;
    justify-content: center;
}

.linha {
    height: 1px;
    background-color: #26bd46;
}

.nome-site {
    font-size: 100px;
    font-family: sans-serif;
    color: #088b24;
    margin-top: 150px;
    margin-left: 20px;
    animation: NeonCampos 3s alternate infinite ease-in-out;
}

.frase {
    font-size: 35px;
    font-family: sans-serif;
    color: #0f802783;
}