<head>
    <title>RidleQuest</title>
</head>

<header style="height: 15%;">
    <div class="abas">
        <br />
        <div class="logo">
            <h1 class="DentroLogo">
                RQ
            </h1>

        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="fases"> Voltar </button>

        </div>
        <br />
    </div>
</header>

<main class="meio">
    <div class="linha"></div>
    <div class="Escopo">
        <div style="display: flex; justify-content: center;">
            <h2>Fases</h2>
        </div>
        <div style="margin-bottom: 10px;"></div>
        <div style="display: flex; justify-content: center;">
            <div class="enigma">
                <div class="nomesEn">
                    <h3>
                        Olimpiano
                    </h3>
                    <h3>
                        Original
                    </h3>
                    <h3>
                        Cerimonial
                    </h3>
                </div>
                <div class="colunas">
                    <div class="coluna">

                    </div>
                    <div class="coluna" style="border-left: 1px solid #11ca39; border-right: 1px solid #11ca39;">
                        <h3>{{this.resposta}}</h3>
                    </div>
                    <div class="coluna">

                    </div>

                    <!-- <li *ngFor="let user of users; index as i; first as isFirst">
                        {{i}}/{{users.length}}. {{user}} <span *ngIf="isFirst">default</span>
                    </li> -->
                </div>
            </div>

        </div>
    </div>
</main>