<!-- <head>
    <!-- <title> {{ head }} </title> -->

<!-- </head> -->

<div class="background">
    <title style="color: white;"> {{ teste }}</title>
    <div class="centro">
        <div class="img">
            <img [src]="imagem" alt="Origem" style="height: 450px;">
        </div>

    </div>
    <div style="display: flex; justify-content: center;">
        <button style="border: solid 1px black" (click)="alerta()">?</button>
    </div>
    <div class="Escreva">
        <input placeholder="Escreva Aqui ....." [(ngModel)]="resposta">
        <button class="buto" (click)="verificar()">Verificar</button>
    </div>
</div>