* {
    padding: 0px;
    margin: 0px;
}

.background {
    background-color: rgb(29, 29, 29);
    height: 789px;
}

.centro {
    display: flex;
    justify-content: center;
}

.img {
    margin-top: 100px;
}

.Escreva {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    column-gap: 2px;
}

.buto {
    border: solid 1px black;
}