<head>
    <title> 5° verso 8° palavra </title>
</head>

<div class="background">
    <div class="centro">
        <div class="img">
            <img src="https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/ee/c2/7f.jpg" alt="Origem">
        </div>

    </div>
    <div style="display: flex; justify-content: center;">
        <button style="border: solid 1px black" (click)="alerta()">?</button>
    </div>
    <div class="Escreva">
        <input placeholder="Escreva Aqui ....." [(ngModel)]="resposta">
        <button class="buto" (click)="verificar()">Verificar</button>
    </div>
</div>