<head>
    <title>RidleQuest</title>
</head>

<div class="fundo">
    <div class="centro">
        <h1 class="ridle">
            RidleQuest
        </h1>
    </div>
    <div class="molde">
        <div class="dentro">
            <h1 class="login">
                Login
            </h1>
            <br/>
            <br/>
            <br/>
            <br/>
            <input placeholder="Username" [(ngModel)]='username' class="campos">
            <br />
            <input placeholder="Password" [(ngModel)]='password' type="password" class="campos">
            <br />
            <button (click)="logar()" class="neon" style="margin-top: 80px;">Logar</button >
    <span style="margin-left: 5px;">
    <button  (click)="cadastrar()" class="neon">Registrar</button>
            </span>
            <div style="margin-top: 5px;">
                <button (click)="socialSignIn('google')" class="neon">Entrar com o Google</button>
            </div>
        </div>

    </div>
</div>